.containerStart{
    width: 100%;
    height: auto;
}
.banner{
    height: 100vh;
    overflow: hidden;
}
.logoPresentation{
    width: 100px;
}
.bannerText{
    @include flex(row-reverse,flex-end, center, center, wrap);
    height: 70%;
}
.homeTitle{
    font-size: 50px;
    text-transform: uppercase;
    opacity: 0.5;
}
.leftDown{
    width: 100%;
    height: 95%;
    @include flex(row-reverse,flex-end, flex-end, center, wrap);
}

.nameOfSite{
    height: 60%;
    opacity: 0.4;
    flex-direction: column-reverse;
}
.Quizy{
    text-transform: uppercase;
    letter-spacing: 6px;
}
.contentHome{
    min-height: 100vh;
    background-color: map-get($map:$colors, $key: 'main');
}