.containerStart {
    width: 100%;
    height: auto;
}

.banner {
    height: 100vh;
    overflow: hidden;
}


.clouds {
    height: 100%
}

.bannerText {
    @include flex(row-reverse, flex-end, center, center, wrap);
    height: 70%;
}

.homeTitle {
    font-size: 50px;
    text-transform: uppercase;
    opacity: 0.5;
}

.leftDown {
    width: 100%;
    height: 95%;
    @include flex(row-reverse, flex-end, flex-end, center, wrap);

    @media screen and (max-width: 1270px) {
        justify-content: center
    }
}

.nameOfSite {
    height: 50%;
    opacity: 0.8;
    flex-direction: column;

    & h1 {
        font-family: 'Alpino', sans-serif;
        font-size: 6.5rem;
        font-weight: 900;
    }

    & p {
        font-size: 1.8rem;
    }
}

.creates {
    position: relative;

    @media screen and (max-width: 1000px) {
        margin-top: 0px;
    }
}

.pHome {
    max-width: 470px;
    font-weight: 300;
    font-size: 1.7rem;
    font-family: 'Montserrat';

    @media screen and (max-width: 1000px) {
        max-width: 100%;
    }
}

.subtitleHome {
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 3px;
    margin-bottom: 20px;
    border-left: solid 5px map-get($map: $colors, $key: 'deta');
    padding-left: 10px;
    border-radius: 5px;
}

.sectionHome {
    max-width: 1200px;
    margin: auto;
    margin-top: 50px;
    @include flex(row, center, space-between, center, wrap);

    @media screen and (max-width: 1270px) {
        margin-left: 2.5%;
        margin-right: 2.5%;
    }

    @media screen and (max-width: 1000px) {
        flex-direction: column;
        margin-top: 40px;
    }
}

.textContentHome {
    width: fit-content;

}



.link {
    color: map-get($map: $colors, $key: 'secu');
    font-weight: 500;
    padding: 5px 20px;
    border: 1px solid map-get($map: $colors, $key: 'deta');
    border-radius: 100px;
    text-decoration: none;
    background: linear-gradient(map-get($map: $colors, $key: 'deta'), map-get($map: $colors, $key: 'deta'));
    background-position: 0% 0%;
    background-size: 0% 100%;
    background-repeat: no-repeat;
    transition: ease 0.3s;
}

.link:hover {
    font-weight: 500;
    color: map-get($map: $colors, $key: 'main');
    background-size: 100% 100%;
}



.borderImgs {
    padding: 15px 15px;
    width: fit-content;
    background-color: map-get($map: $colors, $key: 'secuBlur');
    position: relative;
    & img {
        width: 450px;
        // border: 20px dashed  map-get($map: $colors, $key: 'deta');
    }
    & .tapeTop{
        position: absolute;
        rotate: -30deg;
        width: 300px;
        height: 100px;
        // transform: translate(50px);
        top: -10px;
        left: -100px;
    }
    & .tapeBellow{
        position: absolute;
        rotate: -50deg;
        width: 300px;
        height: 100px;
        // transform: translate(50px);
        bottom: -10px;
        right: -100px;
    }
    & p {
        color: map-get($map: $colors, $key: 'main');   
        margin-top: 10px;
        font-size: 1.7rem;
        font-weight: 500;
    }

    & h4 {
        color: map-get($map: $colors, $key: 'main');
        font-size: 2.3em;
        font-weight: 800;
    }
}

.SectionSidebySide{
    padding: 30px;
    display: grid;
    grid-template-columns: 2fr 1fr;

}


  