nav{
    max-width: 1200px;
    margin: auto;
    position: sticky;
    top: 0px;
    z-index: 1020;
    border-bottom: 1px solid map-get($map:$colors, $key: 'deta');
    background-color: map-get($map:$colors, $key: 'main');
    
}
.p-nav{
    padding: 20px 0px 6px 4px;
    
}
.mobile{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0px;
    transition: .5s ease;
    display: flex;
    flex-direction: row-reverse;
}
.darkclose{
    z-index: 10;
    width: 100%;
    height: 100%;
    border: none;
    background-color: map-get($map:$colors, $key: 'mainBlur');
    position: fixed;
    left: 0px;
    top: 0px;
    transition: 0.5s;
    backdrop-filter: blur(5px);
}
.mobileContainer{
    width: 170px;
    height: 100%;
    background-color: map-get($map:$colors, $key: 'deta');
    z-index: 100;
    padding: 40px;
    text-align: right;
}
.navLogo{
    z-index: -10;
    height: 30px;
    margin-bottom: 2px;
    opacity: 0.6;
    transition: opacity 0.5s;
}
.navLogo:hover{
    cursor: pointer;
    opacity: 0.8;
}
.navbar-toggler{
    border: none;
}
.close{
    width: 20px;
    height: 20px;
    border: none;
    background: none;
}
.tras{
    transform: translate(-30%);
    margin-bottom: 20px;
}
.nav-link{
    font-size: 16px;
}
@media (max-width: 1350px) {

    nav{
        margin: 2%;
    }
}