.formReport{
    display: grid;
    justify-items: center;
    align-items:center;
    grid-template-rows: repeat(2, 50%);
    grid-template-columns: repeat(2, 50%);
    height: 660px;
    margin-bottom: 120px;
    grid-template-areas: 
    "a mail"
    "problem problem";
    @media screen and (max-width: 1000px){
        grid-template-rows: repeat(3, 33%);
        grid-template-columns: repeat(1, 100%);
        grid-template-areas: 
        "name"
        "mail"
        "problem";
        margin-bottom: 30px;
    }

}
.formReport div{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 10px 60px;
    justify-content: center;
    align-items: flex-start;
    @media screen and (max-width: 1000px){
        padding: 10px 0px;
    }
}
.formReport div input, textarea{
    width: 100%;
    background: none;
    border: 1px solid map-get($map:$colors, $key: 'deta');
    border-radius: 20px;
    height: 50px;
    padding: 10px;
    display: inline;
    font-weight: 400;
}
.problemInputContine{
    grid-area: problem;
}
.mailInputContine{
    grid-area: mail;
}
#problem{
    height: 250px;
}
label{
    font-size: 20px;
    margin-bottom: 10px;
}
.submitButton{
    @extend .link;
margin-top: 20px;
}