@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@900&family=Kanit:wght@100;300;400;600;700;800;900&display=swap');
$colors:(
    'main':#2F0C29,
    'secu': #ffff,
    'deta': #ff755d,
    'mainBlur': #2f0c2967,
);
@mixin flex($flex_d, $al_c, $ju_c, $al_i, $wr){
    display: flex;
    flex-direction: $flex_d;
    align-content: $al_c;
    align-items: $al_i;
    justify-content: $ju_c;
    flex-wrap: $wr;
};
.App{
    overflow: hidden;
}
*{
    margin: 0;
    padding: 0;
    color: map-get($map:$colors, $key: 'secu');
    font-family: 'Kanit', sans-serif;
};
body{
    scroll-behavior: smooth;
    background-color: map-get($map:$colors, $key: 'main');
}
.center{
    width: 100%;
    height: 100vh;
    @include flex(row-reverse,center, center, center, wrap);
}
html::-webkit-scrollbar{
  width: 2.5px;
}
html::-webkit-scrollbar-track {
    background-color: map-get($map:$colors, $key: 'main');
}
html::-webkit-scrollbar-thumb {
    background-color: map-get($map:$colors, $key: 'deta');
  border-radius: 5px;
}
.content{
    min-height: 80vh;
    max-width: 1200px;
    margin: auto;
    @media screen and (max-width: 1270px){
        margin-left: 2.5%;
        margin-right: 2.5%;
    }
}
.colorDeta{
    color: map-get($map:$colors, $key: 'deta');
}